img {
    display: block;
    max-width:324px;
    max-height:324px;
    width: auto;
    height: auto;
    }

.img-profile {
  /* border-radius: 100px/100px; */
  border-radius: 100%;
  max-width: 256px;
  max-height: 256px;
  /* border: 2px solid #FF0000; */
  }

.nav-link {
    font-size: 24px
}
