<<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% include header.html %}
  <body>

    <!-- NAVIGATION TABS -->
    <ul class="nav nav-tabs">
      <!-- Resume -->
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#resume">Resume</a>
      </li>
      <!-- CV -->
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#cv">Full CV</a>
      </li>
      <!-- Coursework -->
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#coursework">Coursework</a>
      </li>
      <!-- CONTACT -->
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#contact">Contact</a>
      </li>
    </ul>

  <!-- TAB CONTENT -->
  <div id="tab_data" class="tab-content">
    <div class="tab-pane fade show active" id="resume">
      {% include subsections/resume.html %}
    </div>
    <div class="tab-pane fade" id="cv">
      {% include subsections/cv.html %}
    </div>
    <div class="tab-pane fade" id="coursework">
      {% include subsections/coursework.html %}
    </div>
    <div class="tab-pane fade" id="contact">
      {% include subsections/contact.html %}
    </div>
  </div>


  </body>
  {% include footer.html %}
</html>
