<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:url" content="https://www.jeffmagg.io" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Jeff Maggio - Aspiring Experimental Astrophysicist" />
  <meta property="og:description" content="I'm an aspiring experimentalist. I excel at Python and have lots of experience working with hardware and imaging systems." />
  <meta property="og:image" content="https://github.com/jmaggio14/jeffmagg.io/blob/master/img/profile.jpg"/>
  <title>Jeff Maggio</title>

  <link href="css/simplex.min.css" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <!-- web icon  -->
  <link rel="icon" href="img/profile.jpg">
</head>
