<div class="col-md-3 col-sm-3 col-xs-12">
  <div class="homebox text-center">
    <a href="mailto:jmaggio14@gmail.com" class="homebox-link">
      <div class="homebox-icon homebox-icon-email">
        <i class="fa fa-envelope-square"></i>
      </div>
      <div class="homebox-title">
        jmaggio14@gmail.com
      </div>
    </a>
  </div>
</div>

<div class="col-md-3 col-sm-3 col-xs-12">
  <div class="homebox text-center">
    <a href="tel:15135509231" class="homebox-link">
      <div class="homebox-icon homebox-icon-phone">
        <i class="fa fa-phone"></i>
      </div>
      <div class="homebox-title">
        1-(513)550-9231
      </div>
    </a>
  </div>
</div>

<div class="col-md-3 col-sm-3 col-xs-12">
  <div class="homebox text-center">
    <a href="github.html" target="_blank" class="homebox-link">
      <div class="homebox-icon homebox-icon-github">
        <i class="fa fa-github-alt"></i>
      </div>
      <div class="homebox-title">
        GitHub
      </div>
    </a>
  </div>
</div>
